language: node_js
matrix:
  include:
    - node_js: "13"
    - node_js: "12"
    - node_js: "10"
    - node_js: "8"

script: "yarn test -- --coverage"
after_success: cat ./coverage/lcov.info | npx coveralls
